.container_for_p {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 70%;
      margin: 0 auto;
}

.p {
      font-size: 17pt;
      border-bottom: 4px solid #0e5861;
      padding: 10px;
      text-align: justify;
      transition: 0.5s;
      cursor: pointer;
}

.top_elsa {
      font-size: 25pt;
      margin: 20px;
      text-align: center;
}

.short {
	font-size: 17pt;
      padding: 10px;
      text-align: justify;
      transition: 0.5s;
      cursor: pointer;
}

.list_elsa {
      font-size: 17pt;
      border-bottom: 4px solid #0e5861;
      padding: 10px;
      text-align: justify;
      transition: 0.5s;
      cursor: pointer;
    }

.list_elsa > li {
      margin-left: 20px;
      padding: 4px;
      transition: 0.5s;
}

.list_elsa > li:hover {
      margin-left: 40px;
      padding: 4px;
}   

.container_for_img {
display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-around;
              align-items: center;
              width: 100%;
            }
            
.images {
width: 500px;
border-radius: 20px;
transition: 0.5s;
margin: 30px;
cursor: pointer;
 }

.images:hover {
 width: 550px;
    }