.headerok {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;


      font-size: 20px;
      color: black;
      border-left: 7px solid #0e5861;
      border-right: 7px solid #0e5861;
      border-radius: 15px;
      padding: 10px;
      margin: 10px;
      width: 100%;
      background-color: #8cd8a4;
}
.images {
      width: 500px;
      border-radius: 20px;
      transition: 0.5s;
      margin: 0 auto;
      cursor: pointer;
}
.images:hover {
      width: 550px;
}

.p {
      border-bottom: 2px solid #0e5861;
}
.p > a {
  color: red;
}
.p > a:hover {
  color: #0e5868;
  cursor: pointer;
  transition: 0.5s;

}