body {
	margin: 0px;
	padding: 0px;
}

.main {
  background-color: lightgrey;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.news {
  background-color: lightgrey;
  margin: 10px;
  padding: 10px;
  border: 2px solid #353535;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 14pt;
  transition: 1s;  /*не работает*/
}

.long_description {
  display: none;
}

.btn_expand, .btn_unexpand {
  font-weight: bolder;
  font-size: 25pt;
  color: blue;
  cursor: pointer;
}

.btn_unexpand {
  display: none;
}
.menu_item {
    background: #eee;
    /*float: left;
    /*width: 10%;*/
    /*margin-right: 2%;*/
    /*padding: 10px;*/
    /*border: 1px solid #ccc;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/*/
  }
  .parent {
  	display: flex;
  	flex-direction: row;
  	/* align-items: center; */ 
  	justify-content: space-between;
  }
  .submenu_item {
  	background-color: grey;
  }

  .hide_menu {
  	display: none;
  }