body {
      margin: 0px;
      padding: 0px;
      font-family: Arial;
      transition: 0.5s;
    }
    .form_deleted {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      width: 100%;
    }
    .title {
      font-size: 20pt;
      padding: 25px;
    }
    .container {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      width: 80%;
      margin: 0 auto;
    }
    .form_added {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      margin: 0 auto;
      width: 100%;

    }
    .inputs {
      background-color: #e0fde0;
      padding: 25px;
      width: 100%;
      border: 2px solid #353535;
      border-bottom-left-radius: 45px;
      border-top-right-radius: 45px;
    }
    .inputs[data-type="input-deleted"] {
      background-color: #fdcbcb;
    }
    .inputs[data-type="input-update"] {

      background-color: #d6ebff;
    }
    .inputs > div {
       font-size: 15pt;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 5px 30px 5px 30px;
    }
    .inputs > div > textarea {
      width: 55%;
      height: 50px;
      background-color: #353535;
      color: white;
      text-decoration: none;
      font-size: 12pt;
      padding: 15px;
      transition: 0.2s;
      border-radius: 15px;
    }
    .inputs > div > textarea[data-type="title"] {
      text-align: center;
      height: 40px;
    }
    .inputs > div > textarea[data-type="text"] {
      height: 60px;
    }

    .inputs > div > textarea:focus {
      outline: 0px;
      border-radius: 25px;
    }
    .inputs > div > input[type="file"]  {
      padding: 10px;
      border: 2px solid #353535;
      border-radius: 10px;
      box-shadow: 0px 0px 2px black;
    }
    .inputs > div > input[type="date"]  {
      padding: 10px;
      border: 2px solid #353535;
      border-radius: 10px;
      box-shadow: 0px 0px 2px black;
    }
    .inputs > div > input[data-type="add"]  {
      margin: 0 auto;
      border: 2px solid #353535;
      border-radius: 5px;
      box-shadow: 0px 0px 2px black;
      background-color: darkgreen;
      color: white;
      cursor: pointer;
      width: 200px;
      font-size: 15pt;
      padding: 20px;
    }
    .inputs > div > input[data-type="remove"]  {
      margin: 0 auto;
      border: 2px solid #353535;
      border-radius: 5px;
      box-shadow: 0px 0px 2px black;
      background-color: darkred;
      color: white;
      cursor: pointer;
      width: 200px;
      font-size: 15pt;
      padding: 20px;
    }
    .inputs > div > input[data-type="update"]  {
      margin: 0 auto;
      border: 2px solid #353535;
      border-radius: 5px;
      box-shadow: 0px 0px 2px black;
      background-color: #1261A0;
      color: white;
      cursor: pointer;
      width: 200px;
      font-size: 15pt;
      padding: 20px;
    }
    .inputs > div > input[type="text"]  {
      border: 2px solid #353535;
      border-radius: 5px;
      box-shadow: 0px 0px 2px black;
      background-color: #353535;
      color: white;
      width: 200px;
      font-size: 15pt;      padding: 5px;
      border: 2px solid #353535;
      border-radius: 10px;
      box-shadow: 0px 0px 2px black;
      text-align: center;
    }
    hr {
      border: 3px solid darkred;
      margin-top: 50px;
    }
    .vvod {
     background-color: red;
     font-style: italic;
    }
    #notification {
      color: white;
      padding: 15px;
      position: fixed;
      bottom: 0;
      right: 0;
      margin: 20px;
      box-shadow: 0px 0px 2px black;
      background-color: #353535;
      border-radius: 15px;
    }
    #warning {
      padding: 15px;
      font-size: 20pt;
      margin: 10px;
      color: white;
      font-weight: bolder;

    }
    .remove_container {
      width: 100%;
      height: 100%;
      background-color: #353535;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .remove_container > div > a {
      padding: 15px;
      font-size: 20pt;
      text-decoration: none;
      color: white;
      border-bottom: 4px solid white;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .remove_container > div > a:hover {
      color: lightgrey;
      border-color: lightgrey;
    }